@model Test_web_app.Models.Trip

<body>
    <div class="panel add-trip container">
        @using (Html.BeginForm("Add", "Planner", FormMethod.Post))
        {
            <h2 style="text-align:center; font-weight: 500; margin-top: 10px; opacity: 0.8;">Planowanie wycieczki</h2>
            @Html.ValidationSummary()
            <div style="padding: 12px;"></div>
            <div class="paneltxt">Tytuł: </div>
            <div class="box">@Html.TextBoxFor(x => x.Title, new {@class = "txtbox txtbox-add"})</div>
            <div style="padding: 12px;"></div>
            <div class="paneltxt">Opis: </div>
            <div class="box">@Html.TextAreaFor(x => x.Description, new {@class = "txtarea-add"})</div>
            <div style="padding: 12px;"></div>
            <div class="paneltxt">Data początkowa - Data końcowa </div>
            <input class="date" type="date" name="startDate" id="startDate">
            <input class="date" type="date" name="endDate" id="endDate">
            <div style="margin-top: 50px;"></div>
            <button class="submit" type="submit">Dodaj wycieczkę</button>
        }
    </div>
</body>
        

