<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trip Planner</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Test_web_app.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="navbar-header">
        <nav style="background-color: #222023; box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);">
                <a class="brand" style= "float:left;" asp-area="" asp-controller="Home" asp-action="Index">Trip Planner</a>
            <div class="topnav">
                <a asp-area="" asp-controller="Planner" asp-action="List">Planer</a>
                  <div class="topnav-right">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a asp-area="" asp-controller="Account" asp-action="Login">Zaloguj się</a>
                        <a asp-area="" asp-controller="Account" asp-action="Register">Rejestracja</a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Account" asp-action="Logout">Wyloguj się</a>
                        <p class="logged-as">Zalogowano jako: @User.Identity.Name</p>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    .logged-as{
        color: #F8D267;
        font-weight: 500;
        padding-right: 5px;
        padding-top: 20px;
        margin-right: 15px;
        float:right;
    }
</style>
