@{
    ViewData["Title"] = "Home Page";
    var test = "Wartość testowa";
}

<div>
    <h2 class="home-headline">Witaj w Trip Plannerze!</h2>
    <div style="margin-left: 15px;">
        <img class="home-img" src="~/img/img_5terre.jpg"/>
        <img class="home-img" src="~/img/Nice.jpg" />
    </div>
</div>
