@model IEnumerable<Test_web_app.Models.Trip>
@{
    ViewData["Title"] = "List";
}
<div class="trip-blocks-area">
    @foreach(var trip in Model)
    {
        <div class="trip-block">
            <div class="trip-text">@trip.Title</div>
        </div>
    }
</div>

