@model IEnumerable<Test_web_app.Models.Trip>
@{
    ViewData["Title"] = "List";
}
<html>
    <head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Test_web_app.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" />
</head>
    <div class="trip-blocks-area">
        @foreach(var trip in Model)
        {
            <div class="trip-block">
                <div class="trip-text">@trip.Title</div>
            @{
                var startDate = trip.StartDate.ToString();
                var endDate = trip.EndDate.ToString();
                startDate = startDate.Remove(startDate.Length - 9, 9);
                endDate = endDate.Remove(endDate.Length - 9, 9);
                <div class="basic-txt">@startDate - @endDate</div>
            }
            @using(Html.BeginForm("Delete", "Planner", FormMethod.Post))
            {
                <button name="id" class="delete-btn" type="submit" value="@trip.Id">
                    <span class="trashcan bi bi-trash"></span>
                </button>
            }
            </div>
        }
    </div>
</html>

